@charset "utf-8";

*{
	padding: 0;
	margin: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	font-family: "微软雅黑";

}

body{
	height: 100%;
	width: 100%;
	background: #F3FFEC;
}

a{
	color: inherit;
	text-decoration: none;
	cursor: inherit;
}

/**Btn**/

.btn1{
	height: 45px;
	width: 350px;
	background: #E74F4C;
	color: #fff;
	font-size: 30px;
	line-height: 30px;
	letter-spacing: 2px;
	border-radius: 2px;
	letter-spacing: 1px;
	text-align: center;
	padding: 15px 0 0 0;
	}

.btn2{
	width: 240px;
	height: 35px;
	color: #FFFFFF;
	background: #BE4F48;
	font-size: 12px;
	letter-spacing: 0px;
}

.btn3{
	margin-left: 100px;
	height: 30px;
	width: 120px;
	background: #FFFFFF;
	border: 1px solid #E25D60;
	font-size: 12px;
	color: #E25D60;
	text-align: center;
	padding: 10px 0 0 0;
}

.btn4{
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
	height: 40px;
	width: 180px;
	font-size: 21px;
	margin-left: 130px;
	padding-top: 10px;
}

.btn5{
	color: #E74F4C;
	border: 1px solid #E74F4C;
	height: 40px;
	width: 180px;
	font-size: 21px;
	margin-left: 130px;
	padding-top: 10px;
}

/**Border**/

.border{
	margin-left: 230px;
	width: 30px;
	border-top: 2px solid #FFFFFF;
}

.border1{
	margin-left: 205px;
	width: 30px;
	border-top: 2px solid #FFFFFF;
	padding-bottom: 25px;
}

.border2{
	margin-left: 205px;
	width: 30px;
	border-top: 2px solid #323333;
	padding-bottom: 25px;
}

.border3{
	margin: 0 auto;
	width: 40px;
	border: 1px solid #E74F4C;
}






.container{
	width: 1280px;
	margin: 0 auto;
}

/**
**	Header
**/

.header{
	height: 60px;
	width: 100%;
	background-color: #FFFFFF;
	overflow: hidden;
}
	.header a{
		color: #A3A4A8;
	}
	.header .logo-box{
		height: 50px;
		width: 200px;
		padding: 5px 0px 0px 30px;
		float: left;
	}

		.header .logo-box .logo{
			height: 45px;
			width: 50px;
			background: url(images/logo_small.png) no-repeat;
			background-size: 120% 120%;
			margin-left: 10px;
			float: left;
		}

		.header .logo-box .logo-word{
			color: #323333;
			font-size: 21px;
			font-weight: 100;
			font-family: "黑体";
			padding-top: 15px;
			margin-left: 70px;
		}


	.header .nav{
		float: right;
	}

			.header .nav ul li{
				line-height: 27px;
				height: 30px;
				width: 70px;
				text-align: center;
				font-size: 14px;
				margin-left: 8px;
				padding: 10px 10px 15px 0;
				list-style: none;
				float: left;
				cursor: pointer;
			}

				.header .nav ul li:hover{
					border-bottom: 5px solid #E74E50 ;
					font-weight: bold;
				}
				

				.header .nav ul li a:hover{
					color: #E74E50;
				}


				.header .nav ul li #login a{
					font-size: 14px;
					height: 40px;
					color: #E74E50;
					font-weight: normal;
				}

				.header .nav ul li #login .login-img{
					background: url(images/login.png) no-repeat;
					background-size: 100% 100%;
					height: 25px;
					width: 23px;
					float: left;
					margin-right: -20px;
				}

/**
**	Banner
**/

.banner{
	height: auto;
	width: 1280px;
	overflow: hidden;
}

	.banner .ban-bg{
		height: 680px;
		width: 1280px;
		background: url(images/banner_pic.jpg) no-repeat;
		background-size: 100% auto;
	}

	.banner .topic-box{
		height: 400px;
		width: 600px;
		border-color: #CCCCCC;
		margin-left: 150px;
		margin-top: 200px;
		float: left;
	}

		.banner .topic-box .topic{
			margin-left: -10px;
			font-size: 60px;
			padding: 0 0 20px 0;
			color: #fff;
		}

		.banner .topic-box p{
			line-height: 30px;
			font-size: 21px;
			color: #ECE8E7;
			opacity: 0.9;
			padding: 0 0 60px 0;
		}


	.banner .features{
		height: 250px;
		width: 1280px;
		background-color: #FFFFFF;
		overflow: hidden;
	}

		.banner .tab{
			margin-left: -2px;
		}

			.banner .tab ul{

			}

				.banner .tab ul li{
					height: 400px;
					width: 25%;
					float: left;
					list-style: none;
				}

					.banner .tab ul li .icon{
						padding: 60px 30px 20px 150px;
						overflow: hidden;
					}

					.banner .tab ul li .intro{
						padding: 0px 0px 0px 80px;
						width: 180px;
						font-family: :"黑体";
						font-size: 14px;
						color: gray;
						text-align: center;
						border-left: 2px solid #AAAAAA;
					}


/**
**	Work
**/

.work{
	height: 370px;
	width: 1280px;
	background: #EDEDED;
	overflow: hidden;
}

		.work .work-logo{
			padding: 55px 20px 0px 560px;
		}

		.work .work-text{
			font-family: "黑体";
			padding-top: 20px;
			font-size: 53px;
			color: #A1A1A1;
			text-align: center;
			letter-spacing: 1px;
			font-weight: 100;
		}


/**
**	Search
**/

.search{
	height: 340px;
	width: 100%;
	background: url(images/search_message.jpg) no-repeat;
	background-size: 100% auto;
	overflow: hidden;
}

	.search .search-topic{
		height: 100px;
		width: 500px;
		text-align: center;
		margin: 0 auto;
		color: #FFFFFF;
	}

		.search .search-topic h2{
			font-size: 21px;
			font-weight: lighter;
			padding: 80px 0 10px 0px;
		}

		.search .search-topic p{
			font-size: 12px;
			padding: 10px 0 0 0;
		}

	.search .search-box{
		height: 150px;
		width: 100%;
		margin-left: 80px;
	}


		.search .search-box li{
			float: left;
			list-style: none;
			margin-left: 30px;
			margin-top: 80px;
		}

			.search .search-box li select{
				height: 35px;
				width: 240px;
				font-size: 12px;
				color: #AAAAAA;
				border-radius: 2px;
				vertical-align: middle;


			}

				.search .search-box li option{

				}

				.search .search-box li option:focus{
					
				}


/**
**	Pictures
**/

.picture{
	height: 600px;
	width: 100%;
	background: #EDEDED;
}

	.picture ul{
		padding: 100px 0 0 65px;
	}

		.picture ul li{
			float: left;
			list-style: none;
			margin-left: 45px;
			text-align: center;
		}

			.picture ul li .pic-box1{
				height: 330px;
				width: 220px;
				background: #FFFFFF;
				border: 1px solid #DADADA;
				border-bottom: 0px;
			}

			.picture ul li .pic-box2{
				height: 330px;
				width: 220px;
				background: #FFFFFF;
				border: 1px solid #DADADA;
				margin-top: 10px;
			}

				.picture ul li .pic-box1 img{
					height: 310px;
					width: 200px;
					padding: 10px 10px 10px 10px;
				}

				.picture ul li .pic-box2 img{
					height: 310px;
					width: 200px;
					padding: 10px 10px 10px 10px;
				}

			.picture ul li h3{
				color: #323333;
				font-family: "黑体";
				font-size: 15px;
				font-weight: 500;
				line-height: 30px;
			}

			.picture ul li p{
				font-size:11px;
				font-family: "微软雅黑";
				color: #A1A1A1;
			} 

				.picture ul li .pic-text h3{
					font-size: 25px;
					letter-spacing: 30px;
					font-family: "黑体";
					padding: 0 0 0 20px;
				}



/**
**	Knowabout
**/

.know{
	height: auto;
	width: 100%;
	background-color: #FFFFFF;
}
	.know .know-bg{
		height: 560px;
		width: 66.6%;
		background:url(images/knowabout.jpg) no-repeat;
		background-size: 100%;
		overflow: hidden;
	}
		.know .know-bg .bg-text{
			font-family: "微软雅黑";
			text-align: center;
			color: #FFFFFF;
		}

			.know .know-bg .bg-text h1{
				font-size: 50px;
				font-weight: 500;
				padding: 120px 0 0 0;
			}

			.know .know-bg .bg-text h2{
				font-size: 157px;
				font-weight: normal;
				line-height: 160px;
			}

			.know .know-bg .bg-text h3{
				font-size: 22px;
				font-weight: normal;
				line-height: 60px;
			}

			.know .know-bg .bg-text h4{
				font-weight: 100;
				font-size: 22px;
			}

		.know .know-bg .arrow-left{
		    width: 0;
		    height: 0;
		    border-top: 20px solid transparent;
		    border-right: 40px solid #FFFFFF;
		    border-bottom: 20px solid transparent;
		    float: right;
		    margin-top:-170px;
		}


	.know .knowledge{
		float: right;
		margin-right: 45px;
		margin-top: -450px;	
		text-align: center;
	}		

		.know .know-text{
			height: 450px;
			width: 320px;
		}

			.know .knowledge .know-text h1{
				font-size: 20px;
				font-weight: 100;
				padding: 30px 0 20px 0;
			}

				.know .knowledge .know-text h1 span{
					color: #E25D60;
					font-weight: bold;
				}

			.know .knowledge .know-text p{
				font-size: 10px;
				font-family: "宋体";
				line-height: 30px;
				color: #BBBBBB;
				text-align: left;
				letter-spacing: 1px;
				padding: 0 0 40px 0;
			}


/**
**	Life
**/
.life{
	height: 550px;
	width: 100%;
	font-family: "黑体";
}

	.life ul{

	}

		.life ul li{
			float: left;
			list-style: none;
			height: 550px;
			width: 33.3%;
			text-align: center;
			overflow: hidden;
		}

			.life ul .red{
				background-color: #E74F4C;
			}

			.life ul .white{
				background-color: #FFFFFF;
			}

				.life ul li .life-text1{
					color: #FFFFFF;
				}

				.life ul li .life-text2{
					color: 	#323333;

				}

					.life ul li h1{
						font-size: 22px;
						font-weight: normal;
						padding: 170px 0 25px 0;
					}



					
		.life ul li	.life-pic{
			height: 550px;
			width: 100%;
			background: url(images/aboutus.jpg) no-repeat;
			background-size: auto 555px;
		}

			.life ul li .life-pic .arrow-right{
				width: 0;
			    height: 0;
			    border-top: 20px solid transparent;
			    border-left: 40px solid #FFFFFF;
			    border-bottom: 20px solid transparent;
			    float: left;
			    margin-top: 250px;
			}
		

/**
**	Volunteer
**/
.volun{
	height: 780px;
	width: 100%; 
	background-color: #FFFFFF;
	color: #323333;
}
	.volun .topic{
		height: 200px;
		width: 100%;
		text-align: center;
	}
		.volun .topic h2{
			font-size: 21px;
			font: "黑体";
			font-weight: 500;
			padding: 120px 0 10px 0;
			line-height: 30px;
		}

		.volun .topic p{
			font-size: 12px;
			color: #AAAAAA;
			padding: 20px 0 0 0;
		}

	.volun .item{
		padding: 50px 0 0 120px;
	}
		.volun .item li{
			height: 80px;
			width: 320px;
			list-style: none;
			font-size: 12px;
			color: gray; 
			font-family: "宋体";
			padding: 60px 0 0 0;
		}
			.volun .item li h1{
				font-size: 14px;
				font-family: "黑体";
				padding: 0 0 15px 0;
			}

			.volun .item li p{
				color: #AAAAAA;
				letter-spacing: 1px;
				line-height: 20px;
			}

			.volun .item li a{
				height: 15px;
				width: 40px;
				float: right;
			}

		.volun .item  table{
			width: 650px;
			float: right;
			margin-top: -370px;
			margin-right: 130px;
			border-spacing: 15px;
		}

			.volun .item table td{
				text-indent: 10px;
				font-size: 12px;
				border-color: #FFFFFF;
				background-color: #EDEDEF;
				height: 40px;
				vertical-align: middle;
			}

			.volun .item table .text{
				height: 40px;
				width: 230px;
				margin-left: 10px;
				background-color: #EDEDEF;
			}

			.volun .item table .write{
				height: 150px;
				width: 600px;
				background-color: #EDEDEF;
			}

			.volun .item table .submit{
				background-color: #EDEDEF;
				font-size: 15px;
				font-family: "黑体";
				width: 600px;
				height: 40px;
			}

/**
**	Contact
**/

.contact{
	height: 380px;
	width:  100%;
	background-color: #33363F;

}

	.contact .topic{
		text-align: center;
		color: #CCCCCC;
	}

		.contact .topic h1{
			font-size: 21px;
			font-family: "黑体";
			padding: 90px 0 10px 0;
			font-weight: normal;
			color: #FFFFFF;
		}

		.contact .topic p{
			font-size: 12px;
			font-family: "宋体";
			padding: 0 0 30px 0;
		}

	.contact .contact-box{
	
	}

		.contact .contact-box .email{
			text-indent: 10px;
			font-size: 14px;
			color: #323333;
			height: 40px;
			width: 400px;
			margin-left: 400px;
			float: left;
		}

		.contact .contact-box .submit1{
			height: 40px;
			width: 80px;
			padding: 0px;
			font-size: 15px;
			font-family: "微软雅黑";
			letter-spacing: 5px;
			background-color: #6F7178;
		}

	.contact ul{
		margin-top: 20px;
		margin-left: 510px;
	}
		.contact ul li{
			float: left;
			list-style: none;
			margin-left: 5px;
		}


/**
**	Footer
**/

.footer{
	height: 60px;
	width: 100%;
	background-color: #303038;
}

	.footer p{
		float: left;
		color: #FFFFFF;
		font-size: 2px;
		padding: 20px 0 0 100px;
	}

	.footer span{
		float: right;
		color: #FFFFFF;
		font-size: 5px;
		padding: 20px 30px 0 0;
	}