*{
	padding: 0;
	margin: 0;
}
div.container{
	margin: 0 auto;
	width: 1281px;
	height: 1267px;
	font-family: "微软雅黑";
}
div.center{
	display: inline-flex;
	display: -webkit-inline-flex;
}
div.header{
	width: 100%;
	height: 57px;
	background: #2189bf;
	color: white;
	float: left;
}
div.logo{
	padding-top: 10px;
	padding-left: 10px;
	width: 34px;
}
div.logo img{
	width: 34px;
	height: 34px;
}
div.search{
	float: right;
	border-radius: 15px;
	width: 250px;
	height: 30px;
	border: none;
	background: white;
	display: inline-block;
	margin-top: -30px;
}
div.search img{
	float: left;	
	margin-top: 6px;
	margin-left: 15px;
}
div.search input{
	float: left;
	margin-left: 5px;
	width: 200px;
	height: 26px;
	border: none;
	outline: none;
}
div.login{
	float: right;
	width: auto;
	display: flex;
	align-items: flex-end;
	margin-right: 90px;
	margin-left: 25px;
	margin-top: -15px;
}
div.login img{
	float: left;
}
div.login h1{
	float: left;
	font-size: 12px;
	width: 50px;
}

div.leftBox{
	float: left;
	width: 261px;
	height: 1211px;
	background: #2a2e3d;
}
div.infoTop{
	padding:10px 50px 0 50px;
}
div.head{
	display: -webkit-flex;
	display: flex;
	align-items:center;
	-webkit-align-items: center;
}
div.circle{
	float: left;
	border-radius: 53px;
	border: solid #bababe 2px;
	width: 53px;
	height: 53px;
	text-align: center;
}
div.circle2{
	border-radius: 47px;
	background: #bababe;
	width: 47px;
	height: 47px;
	margin: 3px auto
}
div.name{
	float: left;
	color: #f6f5f5;
	margin-left: 20px;
	font-size: 16px;
}
div.info{
	text-align: center;
	height: 36px;
	width: 36px;
	font-size: 16px;
	color: #6e8095;
	float: left;
	margin-top: 20px;
}
div.linear{
	margin: 0 20px;
	float: left;
	height: 35px;
	border-left: #6e8095 solid 2px;
	margin-top: 20px;
}
div.list{
	float: left;
	margin-top: 50px;
	width:100%;
	height: 190px;
	background: #393e4e;
	font-size: 12px;
}
div.list  > ul{
	margin: 16px 50px 0px 50px;
	list-style: none;
	color: #ededef;
	display: inline-flex;
	display: -webkit-inline-flex;
}
div.list img{
	margin: 0 10px;
}
div.list ul li {
	list-style: none;
	margin: 12px auto;
}
li.l2,li.f1{
	color: #ededef;
}
li.l1, li.l3,li.f2{
	color: #6e8095;	
}
li.f1,li.f2{
	text-indent: 4em;
}
div.clarify{
	color: #6e8095;
	font-size: 12px;
	height: auto;
	width: 211px;
	float: left;
	padding-left: 50px;
	padding-top: 20px;
	display: inline-block;
}
div.clarify div{
	float: left;
	display: flex;
	align-items: flex-start;
	display: -webkit-flex;
	-webkit-align-items: center;
	width: 100%;
	margin: 15px 0;
}
div.c img{
	float: left;
	margin-right: 20px;
}
div.c p{
	float: left;
}
div.rightBox{
	width:1021px;
	height: 1211px;
	background: #ededec;
	float: left;
}
div.nav{
	width: 1021px;
	height: 21px;
	background: white;
	padding: 5px;
}
div.nav p{
	margin-left: 20px;
	color: #aaaaaa;
	font-size: 12.28px;
}
div.nav span{
	color: #6898c2;
}
div.searchList{
	width: 891px;
	height: 86px;
	background: white;
	margin-left: 62px;
	margin-top: 20px;
	border: solid 1px #BABABE;
	display: inline-block;
}
div.s1{
	float: left;
	display: inline-flex;
	display: -webkit-inline-flex;
	align-items: center;
	-webkit-align-items: center;
	margin-left: 30px;
	margin-top: 15px;
}
div.searchList p{
	float: left;
	font-size: 12px;
	color: #aaaaaa;
}
div.searchList select{
	margin-left: 10px;
	float: left;
	color: #323333;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: none;
	border: solid 1px #AAAAAA;
	padding: 5px;
	height: 25px;
	background: url(../img/downArrow2.png) no-repeat right  #FFFFFF;
}
div.searchList button{
	color: white;
	font-size: 12px;
	background: #388ac1;
	border: none;
	width: 50px;
	height:25px
}
div.s1 select{
	width: 70px;
	padding-left: 9px;
	background: url(../img/downArrow_blue.png) no-repeat right  #FFFFFF;
}
div.buysell select {
	margin-bottom: 10px;
	width: 120px;
}
div.bs{
	float: left;
	margin-left: 30px;
	margin-top: 15px;
}
div.diverse{
	width:28px;
	height: 38px;
	position: relative;
	float: left;
	margin-top:25px;
	margin-left: 3px;
}
div.diverse p{
	position: absolute;
	top: 10px;
	left: 14px;
	color: white;
}
div.diverse img{
	top:0px;
	left: 0px;
	position: absolute;
}
div.s2{
	width: 290px;
	height: 57px;
	float: left;
	margin: 15px;
}
div.g1{
	display: inline-flex;
	display: -webkit-inline-flex;
	align-items: center;
	-webkit-align-items: center;
	margin-bottom: 10px;
	margin-left: 5px;
}
div.g1 p, div.g1 select{
	float: left;
}
select.sel1,select.sel4{
	width:120px;
}
select.sel2,select.sel3{
	width: 70px;
}
div.searchList button{
	float: left;
	margin-left: 10px;
	margin-top: 30px;
}
div.history{
	width: 891px;
	height: 65px;
	margin-left: 62px;
	margin-top: 5px;
	display: inline-flex;
	display: -webkit-inline-flex;
}
div.history div{
	background: white;
	float: left;
	border: solid 1px #BABABE;
}
div.leftArrow , div.rightArrow{
	width: 31px;
	height: 65px;
	text-align: center;
}
div.leftArrow img,div.rightArrow img{
	margin-top: 21px
}
div.centerBox{
	width: 111px;
	height: 65px;
	text-align: center;
	margin-left: 5px;
	margin-right: 5px;
}
div.centerBox:hover{
	border-top: #388ac2 4px solid;
	height: 62px;
}
div.centerBox p{
	margin-top: 9px;
	color: #323333;
	font-size: 12px;
}
div.centerBox h1:first-letter{
	font-size: 16px;
	color: #ababaa;
}
div.centerBox h1{
	font-size:21px;
	color: #ec6500;
	margin-top: 8px;
}
div.historySearch{
	width: 131px;
	height: 65px;
	display: inline-flex;
	display: -webkit-inline-flex;
	align-items: center;
	-webkit-align-items: center;
	font-size: 12px;
	color: #535353;
	float: left;
	margin-left: 5px;
}
div.historySearch img{
	margin-left: 10px;
	margin-right: 10px;
}
div.turnover{
	height: 89px;
	width: 891px;
	margin-left: 62px;
	margin-top: 20px;
	font-size: 12px;
	color: #323333;
}
div.boxes{
	margin-top: 10px;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
}
div.boxes>div{
	float: left;
	width: 201px;
	height: 71px;
	background: white;
	position: relative;
}
div.boxes > div h1{
	margin-top: 10px;
	margin-left: 10px;
	font-size: 12px;
	color: #323333;
}
div.boxes > div p{
	font-size: 10px;
	color: #aaaaaa;
	margin-top: 10px;
	margin-left: 10px;
}
div.boxes > div div{
	width: 61px;
	height: 47px;
	position: absolute;
	top: 12px;
	right: 10px;
}
div.colorBox1 {border-left: #43b29e solid 3px;}
div.colorBox1 div{background: #43b29e;}
div.colorBox2 {border-left: #388ac1 solid 3px;}
div.colorBox2 div{background: #388ac1;}
div.colorBox3 {border-left: #cf4a36 solid 3px;}
div.colorBox3 div{background: #cf4a36;}
div.colorBox4 {border-left: #e2cd46 solid 3px;}
div.colorBox4 div{background: #e2cd46;}

div.projects{
	border: 1px solid #AAAAAA;
	float: left;
	margin-top: 20px;
	margin-left: 62px;
	width: 531px;
	height: 356px;
	background: white;
	border-radius: 15px ;
}
div.title{
	width: 100%;
	height: 40px;
	background: #f4f5f7;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;	
	border-bottom: 1px solid #AAAAAA;
	font-size: 12px;
	color: #aaaaaa;
}
div.title p{
	margin-left: 20px;
	padding-top: 10px;
}
/* 每个checked，只有一个内容块被设置为显示*/
#label01:checked ~ #content li:nth-child(1) {
  display:block;
}

#label02:checked ~ #content li:nth-child(2) {
  display:block;
}

#label03:checked ~ #content li:nth-child(3) {
  display:block;
}

/* 其他则设置为隐藏*/

#label01:checked ~ #content li:nth-child(n+2) {
  display:none;
}

#label02:checked ~ #content li:nth-child(1),
#label02:checked ~ #content li:nth-child(3) {
  display:none;
}

#label03:checked ~ #content li:nth-child(1),
#label03:checked ~ #content li:nth-child(2)
{
  display:none;
}

/* 隐藏Input按钮，它只是跳板嘛*/
#label01, #label02, #label03,#label04, #label05 {
  display:none;
}


.bg1 {
  background:#f4f5f7;
}

.bg2 {
  background:#d8d8db;
}

.bg3 {
  background:#d8d8db;
}

#tab {
  width:491px;
  height:279px;
  margin:30px auto;
  overflow:hidden;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

#opt {
  width:100%;
  height:27px;
}

#opt label {
  float:left;
  width:86px;
  height:100%;
  text-align:center;
  padding-top: 5px;
  font:12px MicroSoft YaiHei;
  color:#000;
  cursor:pointer;
  margin-right: 2px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#content {
  width:100%;
  height:300px;
}

#content li {
  float:left;
  width:100%;
  height:100%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
div.projects table{
	width: 404px;
	height: 185px;
	font-size: 12px;
	margin: 30px auto;
}
div.projects table,tr,td{
	background: white;
	border: solid 1px #535353;
	border-collapse: collapse;
	text-align: center;
}
div.projects td{
	text-align: center;
}
div.projects th{
	background: #BABABE;
}
div.proTable{
	width: 355px;
	height: 356px;
	background: #FFFFFF;
	float: left;
	margin-top: 20px;
	border-radius: 15px ;
	border: solid 1px #AAAAAA;
	margin-left: 10px;
}
div.proTable h1{
	font-size: 12px;
	color: #c3c2c2;
}
div.proTable h2{
	font-size: 12px;
	color: #535353;
}
div.proTable button{
	width: 50px;
	height: 25px;
	color: #FFFFFF;
	font-size: 12px;
	border: none;
	background: #388ac1;
}
div.centerTable{
	margin-left: 30px;
	margin-top: 20px;
}
div.centerTable h1, div.centerTable h2{
	margin-bottom: 5px;
}
div.boxTable{
	width: 278px;
	height: 46px;
	border-top: solid 1px #AAAAAA;
	border-bottom: solid 1px #AAAAAA;
}
div.box1,div.box2{
	float: left;
}
div.box1{
	width: 94px;
	height: 100%;
	border-right: 1px solid #AAAAAA;
}
div.boxTable div h1{
	margin-left: 10px;
	margin-top: 7px;
}
div.boxTable div h2{
	margin-left: 10px;
}
div.description h1{
	margin-bottom: 5px;
	margin-top: 5px;
}
div.bottomTable{
	padding-top: 10px;
	width: 286px;
	height: 42px;
	margin-top: 100px;
	border-top: solid 1px #AAAAAA;
}
div.bottomTable input{
	background: #D8D8DB;
}
div.bottomTable button{
	float: right;
	margin-top: -23px;
}


/*reset*/
html {
  font-size: 20px;
}
body {
  margin: 0;

  font-size: 16px;
  font-family: "MicrosoftJhengHei","Microsoft YaHei";
}
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}
input {
  padding-top: 0;
  padding-bottom: 0;
}
ul {
  list-style: none;
  padding-left: 0;
}

/*main*/
body {
  background-color: #eeeeed;
}
.container {
  max-width: 1280px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/*header*/
header {
  height: 57px;
  box-shadow: 0 0 1px 1px #629cca;

  background-color: #2189bf;
}
header img {
  margin-left: 51px;
  margin-top: 10px;
}
.header-input {
  position: relative;
  float: right;
  margin-top: 14px;
  width: 285px;
}
header input {
  position: absolute;
  z-index: 2;
  width: 260px;
  height: 28px;
  border: 0;
  padding-left: 24px;

  outline: none;
  background: url('../img/search.png') #fff no-repeat;
  background-position: center left;
}
.header-input:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: -14px;

  border: 14px solid #fff;
  border-radius: 50%;

}
.header-input:before {
  content: "";
  position: absolute;
  z-index: 1;
  right: -14px;

  border: 14px solid #fff;
  border-radius: 50%;

}
header button {
  float: right;
  margin-left: 39px;
  margin-right: 7.34375%;
  margin-top: 20px;
  padding-left: 18px;
  border: 0;

  color: #fff;
  background: url('../img/login.png') no-repeat;
  background-position: center left;
  outline: none;
  cursor: pointer;
  font-family: "MicrosoftJhengHei","Microsoft YaHei";
  font-size: .6rem;
}

/*main-left*/
.main-left-color {
  background-color: #2a2e3d;
}
.main-left {
  float: left;
  width: 260px;
  height: 100%;

  background-color: #2a2e3d;
  color: #6e8095;
  font-size: .6rem;
  font-weight: 600;
}
.main-l-now,
.main-l-detail div:hover,
.main-l-body li > span:hover {
  color: #ededef;
  cursor: pointer;
}
.main-l-li-now,
.main-l-body li:hover {
  background-color: #383d4e !important;
  cursor: pointer;
}
.main-l-body li:hover > span {
  color: #ededef;
}
.main-l-header {
  position: relative;
  float: left;
  width: 46px;
  height: 46px;
  border-radius: 50%;

  background-color: #b2aaad;
}
.main-l-header:after {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;

  width: 54px;
  height: 54px;
  border: 1px solid #b2aaad;
  border-radius: 50%;
}
.main-l-header img {
  width: 100%;
}
.main-l-top {
  margin-top: 23px;
  margin-left: 51px;
}
.main-l-top > span {
  display: inline-block;
  padding-left: 23px;
  padding-top: 14px;

  font-size: .8rem;
  font-weight: normal;
}
.main-l-detail {
  margin-top: 40px;
  margin-left: -19px;
}
.main-l-detail > div {
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
}
.main-l-d-border {
  border-left: 2px solid #313645;
}
.main-l-body {
  margin-top: 19px;
}
.main-l-body > ul > li {
  padding-left: 70px;
  padding-top: 14px;
  padding-bottom: 14px;

  background-position: 45px center;
}
.main-l-li-now {
  background-position: 45px 15px !important;
}
.main-l-li-now > ul > li {
  padding-left: 40px;
}
.main-l-li-now ul > li {
  margin-top: 12px;
  margin-bottom: 12px;

  background-position-y: 3px;
}
.ico-bfile li {
  padding-left: 20px;
}

/*ico*/
.ico-chart {
  background: url('../img/ico-bchart.png') no-repeat;
}
.ico-doc {
  background: url('../img/ico-doc.png') no-repeat;
}
.ico-doc:hover {
  background: url('../img/ico-bdoc.png') no-repeat;
  background-position-y: 3px;
}
.ico-bdoc {
  background: url('../img/ico-bdoc.png') no-repeat;
}
.ico-file {
  background: url('../img/ico-file.png') no-repeat;
}
.ico-file:hover {
  margin-left: -3px;
  padding-left: 43px !important;

  background: url('../img/ico-bfile.png') no-repeat;
  background-position-y: 3px;
}
.ico-bfile {
  margin-left: -3px;
  padding-left: 43px !important;
  background: url('../img/ico-bfile.png') no-repeat;
}
.ico-count {
  background: url('../img/ico-count.png') no-repeat;
}
.ico-share {
  background: url('../img/ico-share.png') no-repeat;
}
.ico-star {
  background: url('../img/ico-star.png') no-repeat;
}


/*main-right*/
.main-right {
  margin-left: 260px;
  padding-bottom: 146px;

  font-size: .6rem;
  background-color: #eeeeed;
}
.main-r-header {
  height: 30px;
  padding-left: 30px;
  line-height: 30px;

  background-color: #fff;
  color: #aaa;
}
.main-r-header span {
  margin-right: 15px;

  cursor: pointer;
}
.main-r-header li {
  position: relative;
  margin-left: 9px;
  margin-right: 9px;

  cursor: pointer;
}
.main-r-h-now,
.main-r-header span:hover,
.main-r-header li:hover {
  color: #2189bf;
}
.main-r-header li,
.main-r-header ul {
  display: inline-block;
}
.main-r-header li:before {
  content: "/";
  position: absolute;
  left: -12px;

  color: #aaa !important;
  cursor: default;
}
.main-r-header li:before:hover {
  color: #aaa !important;
}
/*main-r-body*/
.main-r-body {
  width: 890px;
  margin-top: 19px;
  margin-left: 60px;
}
.main-r-body > div {
  background-color: #fff;
}
/*line1*/
.main-r-b-search {
  height: 71px;
  padding-top: 15px;
  padding-left: 12px;
  margin-bottom: 8px;
  border: 1px solid #dddbdc;

  color: #aaa;
}
.main-r-b-search div {
  position: relative;
  display: inline-block;
  margin-right: 23px;

  vertical-align: top;
}
.main-r-b-search span {
  margin-left: 16px;
  margin-right: 10px;
}
.main-r-b-search select {
  padding: 4px 14px 4px 10px;
  border: 1px solid #c2c3c4;
  margin-bottom: 6px;

  font-size: 12px;
  color: #323333;
  background: url('../img/select-black.png') no-repeat 95%;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
}
.main-r-b-search img {
  position: absolute;
  top: 8px;
  right: -30px;

  cursor: pointer;
}
.main-r-b-s-last {
  width: 320px;
  margin-left: 22px;
}
.main-r-b-s-width1 {
  width: 68px;
}
.main-r-b-s-width2 {
  width: 118px;
}
.main-r-b-s-last input[type="date"] {
  width: 115px;
  border: 1px solid #c2c3c4;
}
/*line2*/
.main-r-b-timep {
  margin-bottom: 20px;
}
.main-r-b-timep li {
  display: inline-block;
  height: 62px;
  border-top: 1px solid #dddbdc;
  border-left: 1px solid #dddbdc;

  background-color: #fff;
  color: #323333;
  vertical-align: top;
  cursor: pointer;
}
.main-r-b-t-d-left {
  background: url('../img/btn-left.png') no-repeat;
}
.main-r-b-t-d-right {
  background: url('../img/btn-right.png') no-repeat;
}
.main-r-b-t-dis {
  width: 30px;

  background-position: center center;
}
.main-r-b-t-detail {
  width: 110px;
}
.main-r-b-t-detail:hover,
.main-r-b-t-d-now {
  height: 60px !important;
  border-top: 3px solid #4388c9 !important;
}
.main-r-b-t-d-now p:nth-child(1) {
  padding-top: 8px;
}
.main-r-b-t-detail:hover p {
  padding-top: 8px;
}
.main-r-b-t-detail p {
  padding-top: 10px;
  padding-left: 27px;
}
.font-cgrey {
  margin-left: -4px;
  padding-top: 2px !important;

  color: #acacab;
}
.font-corange {
  color: #ec6500;
  font-size: 1.05rem;
}
.main-r-b-t-query {
  width: 131px;
}
.main-r-b-t-query img {
  margin-top: 15px;
  margin-left: 20px;
}
.main-r-b-t-query span {
  display: inline-block;
  margin-left: 10px;
  margin-top: 22px;

  vertical-align: top;
}
/*line3*/
.main-r-b-count {
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 13px;
}
.main-r-b-count li {
  position: relative;
  display: inline-block;
  width: 197px;
  height: 65px;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 5px;
  border-left: 3px solid #fff;
  box-shadow: 0 0 2px 1px #d2cfd2;

  background-color: #fff;
}
.main-r-b-count li p {
  margin-top: 10px;
  margin-left: 8px;
}
.main-r-b-c-specilap {
  color: #aaa;
}
.main-r-b-count li:nth-child(1) {
  border-left: 3px solid #43b29e;
}
.main-r-b-count li:nth-child(1):after {
  content: "";
  position: absolute;
  top: 12px;
  right: 14px;

  display: block;
  width: 58px;
  height: 46px;

  background-color: #43b29e;
}
.main-r-b-count li:nth-child(2) {
  border-left: 3px solid #388ac1;
}
.main-r-b-count li:nth-child(2):after {
  content: "";
  position: absolute;
  top: 12px;
  right: 14px;

  display: block;
  width: 58px;
  height: 46px;

  background-color: #388ac1;
}
.main-r-b-count li:nth-child(3) {
  border-left: 3px solid #d04a36;
}
.main-r-b-count li:nth-child(3):after {
  content: "";
  position: absolute;
  top: 12px;
  right: 14px;

  display: block;
  width: 58px;
  height: 46px;

  background-color: #d04a36;
}
.main-r-b-count li:nth-child(4) {
  border-left: 3px solid #e2cd46;
}
.main-r-b-count li:nth-child(4):after {
  content: "";
  position: absolute;
  top: 12px;
  right: 14px;

  display: block;
  width: 58px;
  height: 46px;

  background-color: #e2cd46;
}
/*line4,5*/
.main-r-b-l-block1 {
  width: 530px;
}
.main-r-b-l-block1 label {
  display: inline-block;
  width: 83px;
  height: 24px;
  padding-top: 4px;
  border-radius: 3px 3px 0 0;

  background-color: #ededf0;
  text-align: center;
  cursor: pointer;
  -webkit-transform: translateY(1px);
  -ms-transform: translateY(1px);
  -o-transform: translateY(1px);
  transform: translateY(1px);
}
.firstlabel {
  margin-left: 18px;
}
.main-r-b-l-block1 input {
  display: none;
}
.main-r-b-l-block1 input:checked + label {
  border-top: 1px solid #cbcccc;
  border-left: 1px solid #cbcccc;
  border-right: 1px solid #cbcccc;

  background-color: #fff;
}
.main-r-b-buy {
  width: 490px;
  height: 250px;
  border: 1px solid #cbcccc;
  margin-left: 18px;
}
.main-r-b-buy table {
  border-collapse: collapse;
  margin-top: 28px;
  margin-left: 36px;
}
.main-r-b-buy td {
  border: 1px solid #dfdfdf;
  padding: 8px 18px;

  cursor: pointer;
}
.main-r-b-buy td:hover {
  background-color: #f4f5f6;
}

.main-r-b-l-block2 {
  width: 350px;
  margin-left: 9px;
}
.main-r-b-l-block3 {
  width: 350px;
  min-height: 356px !important;
}
.main-r-b-l-block4 {
  width: 530px;
  margin-left: 9px;
}

.main-r-b-l-body > * {
  width: 280px;
  margin-left: 36px;
}
.main-r-b-l-body > div {
  border-bottom: 1px solid #e9e8e8;
}
.main-r-b-l-body p {
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 12px;
}
.main-r-b-l-b-detail > div {
  display: inline-block;
}
.main-r-b-l-b-detail > div:nth-child(1) {
  padding-right: 46px;
  border-right: 1px solid #e9e8e8;
}
.font-detail {
  margin-left: 48px !important;
}
#ckbox1 {
  display: none;
}
.ckbox {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 12px;
  margin-right: 8px;
  margin-top: 10px;
  border: 1px solid #e9e8e8;

  cursor: pointer;
  vertical-align: text-bottom;
}
#ckbox1:checked + label div {
  background: url('../img/checkbox.jpg') no-repeat;
}
.main-r-b-l-body button {
  margin-left: 120px;
}
.main-r-b-l-block4 {
  overflow-y: auto;
}
.main-r-b-l-block4 table {
  border-collapse: collapse;
  margin-top: 28px;
  margin-left: 36px;
  margin-bottom: 28px;
}
.main-r-b-l-block4 th,
.main-r-b-l-block4 td {
  padding: 5px 28px;

  border: 1px solid #dfdfdf;
}
.main-r-b-l-block4 td > span {
  display: inline-block;
  width: 166px;
  height: 5px;
  margin-left: 20px;

  background-color: #dcdcdc;
  -webkit-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px);
  transform: translateY(-2px);
}
.main-r-b-l-block4 td > span:after {
  content: "";
  display: block;
  height: 100%;
}

.brandbar-1:after {
  width: 80%;
  background-color: #ed6e52;
}
.brandbar-2:after {
  width: 70%;
  background-color: #ef8150;
}
.brandbar-3:after {
  width: 60%;
  background-color: #fe9f4f;
}
.brandbar-4:after {
  width: 55%;
  background-color: #7fcbf0;
}
.brandbar-5:after {
  width: 50%;
  background-color: #7fcbf0;
}
.brandbar-6:after {
  width: 45%;
  background-color: #7fcbf0;
}
.brandbar-7:after {
  width: 40%;
  background-color: #7fcbf0;
}
.brandbar-8:after {
  width: 35%;
  background-color: #7fcbf0;
}
.brandbar-9:after {
  width: 30%;
  background-color: #7fcbf0;
}
.brandbar-10:after {
  width: 25%;
  background-color: #7fcbf0;
}

.main-r-b-l-block4 tr {
  cursor: pointer;
}
.main-r-b-l-block4 tr:hover {
  background-color: #f4f5f6;
}

.block3-wrap {
  margin-left: 20px;
}
.main-r-b-l-block3 li {
  display: inline-block;
  margin-top: 8px;
  padding: 10px 16px;
  border-top: 1px solid #b2cfed;
  border-bottom: 1px solid #e3e3e4;
}
.main-r-b-l-block3 td {
  display: inline-block;
  width: 39px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #fff;

  text-align: center;
  cursor: pointer;
}
.date-choosed,
.main-r-b-l-block3 td:hover {
  border: 1px solid #f4c21d !important;
}
.block3-wrap select {
  width: 70px;
  height: 20px;
  padding-left: 5px;
  border: 1px solid #cfcfd0;

  background: url('../img/date-select.png') no-repeat 95%;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
}
.block3-wrap button {
  width: 80px;
  height: 20px;
  margin-left: 6px;
  border: 1px solid #cfcfd0;

  background-color: #fff;
  cursor: pointer;
}

.font-cgrey2 {
  color: #c3c2c2;
}
.t-detail {
  width: 256px;
  height: 128px;
  border: 0;
  border-bottom: 1px solid #e9e8e8;
  padding-left: 12px;
  padding-right: 12px;

  outline: none;
  resize: none;
}
.date-red {
  color: #c9161d;
}

/*search btn*/
.main-r-searchbtn {
  width: 50px;
  height: 26px;
  margin-top: 14px;
  border: 0;
  border-radius: 3px;

  color: #fff;
  background-color: #388ac1;
  cursor: pointer;
}
/*listblock*/
.main-r-b-listblock {
  display: inline-block;
  height: 356px;
  margin-bottom: 8px;
  float: left;
  margin-left: 62px;
  margin-top: 20px;
  box-shadow: 0 0 2px 1px #cfcdcf;
  border-radius: 7px;
  vertical-align: top;
}
.main-r-b-l-header {
  height: 40px;
  margin-bottom: 16px;
  border-bottom: 1px solid #e6e6e8;
  border-radius: 7px 7px 0 0;

  background-color: #f4f5f6;
  color: #aaa;
}
.main-r-b-l-header p {
  padding-top: 14px;
  padding-left: 18px;
}
h3 {
  margin-bottom: 5px;
}











