*{
	padding: 0;
	margin: 0;
}
div.container{
	margin: 0 auto;
	width: 1281px;
	height: 1267px;
	font-family: "微软雅黑";
}
div.center{
	display: inline-flex;
	display: -webkit-inline-flex;
}
div.header{
	width: 100%;
	height: 57px;
	background: #2189bf;
	color: white;
	float: left;
}
div.logo{
	padding-top: 10px;
	padding-left: 10px;
	width: 34px;
}
div.logo img{
	width: 34px;
	height: 34px;
}
div.search{
	float: right;
	border-radius: 15px;
	width: 250px;
	height: 30px;
	border: none;
	background: white;
	display: inline-block;
	margin-top: -30px;
}
div.search img{
	float: left;	
	margin-top: 6px;
	margin-left: 15px;
}
div.search input{
	float: left;
	margin-left: 5px;
	width: 200px;
	height: 26px;
	border: none;
	outline: none;
}
div.login{
	float: right;
	width: auto;
	display: flex;
	align-items: flex-end;
	margin-right: 90px;
	margin-left: 25px;
	margin-top: -15px;
}
div.login img{
	float: left;
}
div.login h1{
	float: left;
	font-size: 12px;
	width: 50px;
}

div.leftBox{
	float: left;
	width: 261px;
	height: 1211px;
	background: #2a2e3d;
}
div.infoTop{
	padding:10px 50px 0 50px;
}
div.head{
	display: -webkit-flex;
	display: flex;
	align-items:center;
	-webkit-align-items: center;
}
div.circle{
	float: left;
	border-radius: 53px;
	border: solid #bababe 2px;
	width: 53px;
	height: 53px;
	text-align: center;
}
div.circle2{
	border-radius: 47px;
	background: #bababe;
	width: 47px;
	height: 47px;
	margin: 3px auto
}
div.name{
	float: left;
	color: #f6f5f5;
	margin-left: 20px;
	font-size: 16px;
}
div.info{
	text-align: center;
	height: 36px;
	width: 36px;
	font-size: 16px;
	color: #6e8095;
	float: left;
	margin-top: 20px;
}
div.linear{
	margin: 0 20px;
	float: left;
	height: 35px;
	border-left: #6e8095 solid 2px;
	margin-top: 20px;
}
/*
div.list  > ul{
	list-style: none;
	display: inline-flex;
	display: -webkit-inline-flex;
	float: left;
}*/

div.list{
	float: left;
	margin-top: 50px;
	width:100%;
	height: 190px;
	background: #393e4e;
	font-size: 12px;
}
div.list >ul{
	margin: 16px 50px 0px 50px;
	color: #ededef;
	display: inline-block;
	list-style: none;
}
div.list img{
	margin: 0 10px;
}
div.list ul li {
	list-style: none;
	margin: 12px auto;
}
li.l2,li.f1{
	color: #ededef;
}
li.l1, li.l3,li.f2{
	color: #6e8095;	
}
li.f1,li.f2{
	text-indent: 4em;
}
div.clarify{
	color: #6e8095;
	font-size: 12px;
	height: auto;
	width: 211px;
	float: left;
	padding-left: 50px;
	padding-top: 20px;
	display: inline-block;
}
div.clarify div{
	float: left;
	display: flex;
	align-items: flex-start;
	display: -webkit-flex;
	-webkit-align-items: center;
	width: 100%;
	margin: 15px 0;
}
div.c img{
	float: left;
	margin-right: 20px;
}
div.c p{
	float: left;
}
div.rightBox{
	width:1021px;
	height: 1211px;
	background: #ededec;
	float: left;
}
div.nav{
	width: 1021px;
	height: 21px;
	background: white;
	padding: 5px;
}
div.nav p{
	margin-left: 20px;
	color: #aaaaaa;
	font-size: 12.28px;
}
div.nav span{
	color: #6898c2;
}
div.searchList{
	width: 891px;
	height: 86px;
	background: white;
	margin-left: 62px;
	margin-top: 20px;
	border: solid 1px #BABABE;
	display: inline-block;
}
div.s1{
	float: left;
	display: inline-flex;
	display: -webkit-inline-flex;
	align-items: center;
	-webkit-align-items: center;
	margin-left: 30px;
	margin-top: 15px;
}
div.searchList p{
	float: left;
	font-size: 12px;
	color: #aaaaaa;
}
div.searchList select{
	margin-left: 10px;
	float: left;
	color: #323333;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: none;
	border: solid 1px #AAAAAA;
	padding: 5px;
	height: 25px;
	background: url(../img/downArrow2.png) no-repeat right  #FFFFFF;
}
div.searchList button{
	color: white;
	font-size: 12px;
	background: #388ac1;
	border: none;
	width: 50px;
	height:25px
}
div.s1 select{
	width: 70px;
	padding-left: 9px;
	background: url(../img/downArrow_blue.png) no-repeat right  #FFFFFF;
}
div.buysell select {
	margin-bottom: 10px;
	width: 120px;
}
div.bs{
	float: left;
	margin-left: 30px;
	margin-top: 15px;
}
div.diverse{
	width:28px;
	height: 38px;
	position: relative;
	float: left;
	margin-top:25px;
	margin-left: 3px;
}
div.diverse p{
	position: absolute;
	top: 10px;
	left: 14px;
	color: white;
}
div.diverse img{
	top:0px;
	left: 0px;
	position: absolute;
}
div.s2{
	width: 290px;
	height: 57px;
	float: left;
	margin: 15px;
}
div.g1{
	display: inline-flex;
	display: -webkit-inline-flex;
	align-items: center;
	-webkit-align-items: center;
	margin-bottom: 10px;
	margin-left: 5px;
}
div.g1 p, div.g1 select{
	float: left;
}
select.sel1,select.sel4{
	width:120px;
}
select.sel2,select.sel3{
	width: 70px;
}
div.searchList button{
	float: left;
	margin-left: 10px;
	margin-top: 30px;
}
div.history{
	width: 891px;
	height: 65px;
	margin-left: 62px;
	margin-top: 5px;
	display: inline-flex;
	display: -webkit-inline-flex;
}
div.history div{
	background: white;
	float: left;
	border: solid 1px #BABABE;
}
div.leftArrow , div.rightArrow{
	width: 31px;
	height: 65px;
	text-align: center;
}
div.leftArrow img,div.rightArrow img{
	margin-top: 21px
}
div.centerBox{
	width: 111px;
	height: 65px;
	text-align: center;
	margin-left: 5px;
	margin-right: 5px;
}
div.centerBox:hover{
	border-top: #388ac2 4px solid;
	height: 62px;
}
div.centerBox p{
	margin-top: 9px;
	color: #323333;
	font-size: 12px;
}
div.centerBox h1:first-letter{
	font-size: 16px;
	color: #ababaa;
}
div.centerBox h1{
	font-size:21px;
	color: #ec6500;
	margin-top: 8px;
}
div.historySearch{
	width: 131px;
	height: 65px;
	display: inline-flex;
	display: -webkit-inline-flex;
	align-items: center;
	-webkit-align-items: center;
	font-size: 12px;
	color: #535353;
	float: left;
	margin-left: 5px;
}
div.historySearch img{
	margin-left: 10px;
	margin-right: 10px;
}
div.turnover{
	height: 89px;
	width: 891px;
	margin-left: 62px;
	margin-top: 20px;
	font-size: 12px;
	color: #323333;
}
div.boxes{
	margin-top: 10px;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
}
div.boxes>div{
	float: left;
	width: 201px;
	height: 71px;
	background: white;
	position: relative;
}
div.boxes > div h1{
	margin-top: 10px;
	margin-left: 10px;
	font-size: 12px;
	color: #323333;
}
div.boxes > div p{
	font-size: 10px;
	color: #aaaaaa;
	margin-top: 10px;
	margin-left: 10px;
}
div.boxes > div div{
	width: 61px;
	height: 47px;
	position: absolute;
	top: 12px;
	right: 10px;
}
div.colorBox1 {border-left: #43b29e solid 3px;}
div.colorBox1 div{background: #43b29e;}
div.colorBox2 {border-left: #388ac1 solid 3px;}
div.colorBox2 div{background: #388ac1;}
div.colorBox3 {border-left: #cf4a36 solid 3px;}
div.colorBox3 div{background: #cf4a36;}
div.colorBox4 {border-left: #e2cd46 solid 3px;}
div.colorBox4 div{background: #e2cd46;}

div.projects{
	border: 1px solid #AAAAAA;
	float: left;
	margin-top: 20px;
	margin-left: 62px;
	width: 531px;
	height: 356px;
	background: white;
	border-radius: 15px ;
}
div.title{
	width: 100%;
	height: 40px;
	background: #f4f5f7;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;	
	border-bottom: 1px solid #AAAAAA;
	font-size: 12px;
	color: #aaaaaa;
}
div.title p{
	margin-left: 20px;
	padding-top: 10px;
}
/* 每个checked，只有一个内容块被设置为显示*/
#label01:checked ~ #content li:nth-child(1) {
  display:block;
}

#label02:checked ~ #content li:nth-child(2) {
  display:block;
}

#label03:checked ~ #content li:nth-child(3) {
  display:block;
}

/* 其他则设置为隐藏*/

#label01:checked ~ #content li:nth-child(n+2) {
  display:none;
}

#label02:checked ~ #content li:nth-child(1),
#label02:checked ~ #content li:nth-child(3) {
  display:none;
}

#label03:checked ~ #content li:nth-child(1),
#label03:checked ~ #content li:nth-child(2)
{
  display:none;
}

/* 隐藏Input按钮，它只是跳板嘛*/
#label01, #label02, #label03,#label04, #label05 {
  display:none;
}


.bg1 {
  background:#f4f5f7;
}

.bg2 {
  background:#d8d8db;
}

.bg3 {
  background:#d8d8db;
}

#tab {
  width:491px;
  height:279px;
  margin:30px auto;
  overflow:hidden;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

#opt {
  width:100%;
  height:27px;
}

#opt label {
  float:left;
  width:86px;
  height:100%;
  text-align:center;
  padding-top: 5px;
  font:12px MicroSoft YaiHei;
  color:#000;
  cursor:pointer;
  margin-right: 2px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#content {
  width:100%;
  height:300px;
}

#content li {
  float:left;
  width:100%;
  height:100%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
div.projects table{
	width: 404px;
	height: 185px;
	font-size: 12px;
	margin: 30px auto;
}
div.projects table,tr,td{
	background: white;
	border: solid 1px #535353;
	border-collapse: collapse;
	text-align: center;
}
div.projects td{
	text-align: center;
}
div.projects th{
	background: #BABABE;
}
div.proTable{
	width: 355px;
	height: 356px;
	background: #FFFFFF;
	float: left;
	margin-top: 20px;
	border-radius: 15px ;
	border: solid 1px #AAAAAA;
	margin-left: 10px;
}
div.proTable h1{
	font-size: 12px;
	color: #c3c2c2;
}
div.proTable h2{
	font-size: 12px;
	color: #535353;
}
div.proTable button{
	width: 50px;
	height: 25px;
	color: #FFFFFF;
	font-size: 12px;
	border: none;
	background: #388ac1;
}
div.centerTable{
	margin-left: 30px;
	margin-top: 20px;
}
div.centerTable h1, div.centerTable h2{
	margin-bottom: 5px;
}
div.boxTable{
	width: 278px;
	height: 46px;
	border-top: solid 1px #AAAAAA;
	border-bottom: solid 1px #AAAAAA;
}
div.box1,div.box2{
	float: left;
}
div.box1{
	width: 94px;
	height: 100%;
	border-right: 1px solid #AAAAAA;
}
div.boxTable div h1{
	margin-left: 10px;
	margin-top: 7px;
}
div.boxTable div h2{
	margin-left: 10px;
}
div.description h1{
	margin-bottom: 5px;
	margin-top: 5px;
}
div.bottomTable{
	padding-top: 10px;
	width: 286px;
	height: 42px;
	margin-top: 100px;
	border-top: solid 1px #AAAAAA;
}
div.bottomTable input{
	background: #D8D8DB;
}
div.bottomTable button{
	float: right;
	margin-top: -23px;
}
div.selectBox{
	text-align: center;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 310px;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
}
div.selectBox select{
	float: left;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	border: solid 1px #cacbcb;
	width: 65px;
	height: 22px;
	font-size: 12px;
	color: #535353;
	border-radius: none;
	padding-left: 7px;
	background: #FFFFFF url(../img/arrowDown.png) 90% no-repeat ;
}
div.selectBox :nth-child(2){
	width: 84px;
	padding-left: 30px;
	background-position: 70%;
}
div.selectBox :nth-child(3){
	width: 74px;
}
div.selectBox button{
	height: 22px;
	width: 65px;
	background: #FFFFFF;
	border: 1px solid #CACBCB;
}
div.calendar{
	margin: 5px auto;
	width: 309px;
	color: #535353;
	font-size: 12px;
}
ul.date{
	width: 100%;
	height: 31px;
	border-left: none;
	border-right: none;
	border-top: 1px solid #2189BF;
	border-bottom: 1px solid #CACBCB;
	margin: 0 auto;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
}
ul.date li{
	float: left;
	list-style: none;
	margin: auto;
}
table.ctable{
	margin-top: 10px;
	border-collapse: separate;
	border-spacing: 2px;
	width: 100%;
	height: 220px;
	border: white;
}
table.ctable tr ,
table.ctable td{
	border: white;
} 
table.ctable td :nth-child(2){
	font-size: 11.36px;
}
table.ctable tr :nth-child(6) :nth-child(1),
table.ctable tr :nth-child(7) :nth-child(1){
	color: #c9161d;
}
td.red :nth-child(2){
	color: #C9161D;
}
td.cross{
	border: solid 1px yellow !important;
}
div.calendarBox{
	background: #FFFFFF;
	width: 351px;
	height: 365px;
	float: left;
	border-radius: 15px;
	border: 1px solid #AAAAAA;
	margin-top: 10px;
	margin-left: 62px;
}
div.ranking{
	width: 563px;
	height: 365px;
	background: white;
	float: left;
	border-radius: 15px;
	border: 1px solid #AAAAAA;
	margin-left: 10px;
	margin-top: 10px;
}
div.ranking table{
	border: solid 1px #AAAAAA;
	border-collapse: collapse;
	margin: 10px auto;
	width: 451px;
	height: 276px;
}
div.ranking tr,div.ranking td, div.ranking th{
		border: solid 1px #AAAAAA;
}
div.ranking th{
	font-weight: bolder;
	font-size: 13px;
	color: #231815;
}
div.ranking td{
	font-size: 12px;
	color: #323333;
}
div.progress{
	margin-top: 3px;
	margin-left: 2px;
	width: 169px;
	height: 5px;
	background: #C3C2C2;
	float: right;
}
div.progress div{
	width: 80%;
	height: 100%;
	background: red;
}
div.ranking tbody tr :nth-child(3) p{
	float: right;
	margin-top: 3px;
	margin-left: 30px;
}
div.ranking tbody tr :nth-child(3){
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-align-items: center;
	border-collapse: collapse;
	border: none;
	width: 100%;
	height: 100%;
}

div.ranking table tr :nth-child(3){
	width: 290px;
}
.fcol{
	width: 70px;
}
div.ranking tbody td:hover{
	background-color: #D8D8DB;
	cursor: pointer;
}




