*{
	padding: 0;
	margin: 0;
}
body{
	width: 100%;
	height: auto;
}
div.container:before, div.container:after{
 content: "";
  display: table;
  clear: both; 
}
div.container{
	width: 100%;
	height: 800px;
	box-sizing: border-box;
	padding: 10px;
}
div.row{
	width: 98%;
	box-sizing: border-box;
	margin-left: 10px;
	margin-right: 10px;
}
div.box{
	border: 1px solid #999;
	background: #eee;	
	height: 50px;
}
div.outer{
	box-sizing: border-box;
	padding: 10px;
	float: left;
}
@media screen and (min-width: 769px){
	.col-md-1{
		width: 8.333%;
	}
	.col-md-2{
		width: 16.667%;
	}
	.col-md-3{
		width: 25%;
	}
	.col-md-4{
		width: 33.333%;
	}
	.col-md-5{
		width: 41.667%;
	}
	.col-md-6{
		width: 50%;
	}
	.col-md-7{
		width: 58.333%;
	}
	.col-md-8{
		width: 66.667%;
	}
	.col-md-9{
		width: 75%;
	}
	.col-md-10{
		width: 83.333%;
	}
	.col-md-11{
		width: 91.667%;
	}
	.col-md-12{
		width: 100%;
	}
	
}
@media  (max-width: 768px) {
	.col-sm-1{
		width: 8.333%;
	}
	.col-sm-2{
		width: 16.667%;
	}
	.col-sm-3{
		width: 25%;
	}
	.col-sm-4{
		width: 33.333%;
	}
	.col-sm-5{
		width: 41.667%;
	}
	.col-sm-6{
		width: 50%;
	}
	.col-sm-7{
		width: 58.333%;
	}
	.col-sm-8{
		width: 66.667%;
	}
	.col-sm-9{
		width: 75%;
	}
	.col-sm-10{
		width: 83.333%;
	}
	.col-sm-11{
		width: 91.667%;
	}
	.col-sm-12{
		width: 100%;
	}
}