body,div,img,p{
	padding: 0;
	margin: 0;
}
body{
	display: block;
}
img.logo{
	width: 80px;
	height: 80px;
	float: left;
	border: 1px solid #999999;
	margin:18px;
}
div.img_box{
	float: left;
	border: 1px solid #999999;
	width: 80px;
	height: 80px;
}
div.img_box img{
	width: 100%;
	height: 100%;
}
div.container{
	height: 650px;
	background: #eee;
	border: 1px solid #999;
	padding: 20px;
	margin: 10px;
	position: relative;
	zoom: 1;
	
}
div.container:after{
	content: "";
    display: block;
    clear: both;
    height: 10px;
}
div.left_box{
	float: left;
	overflow: auto;
	zoom: 1;
	width: 160px;
	padding: 20px;
	background: white;
	border: 1px solid #999;
	position: absolute;
	left: 10px;
	top: 10px;
}
div.group_name{
	float: right;
}
div.center_box{
	background: white;
	border: 1px solid #999999;
	padding: 20px;
	left: 220px;
	right: 145px;
	top: 10px;
	position: absolute;
}
div.right_box{
	float: right;
	width: 120px;
	background: white;
	border: 1px solid #999999;
	top: 10px;
	right: 10px;
	position: absolute;
}
