@charset "utf-8";

*{
	margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
	font-family:'微软雅黑';
}

a{
	text-decoration: none;
	color: #CCCCCC;
	font-size: 10px;
}

.container{
	background-color: #DEDEDE;
	width: 1024px;
	height: auto;
	margin: 0 auto;
	box-shadow: 1px 1px 1px gray;
}

.container1{
	margin-top: -450px;
}
/**
**  Header
**/
.header{
	background-color: #333333;
	height: 50px;
	width: 1024px;
	z-index: 9999;
	box-shadow: 1px 1px 1px black;
}

	.header #logo{
		float:left;
		width:200px;
		height:50px;
		background:url(images/logo.png) no-repeat 10px -3px;
		background-size:auto 60px;
	}

	.header .nav{
		height: 50px;
		margin: auto 0px;

	}

		.header .nav ul{
			float: right;
			height: 50px;
			width: 380px;
		}

			.header .nav ul li{
				float: left;
				margin-top: 15px;
				margin-left: 30px;
			}



/**
**	SideBar
**/

.sidebar{
	height: 430px;
	width: 30%;
	background-color: white;
	margin-left:68%;
	margin-top: 20px;
	box-shadow: 1px 1px 1px gray;
	overflow: hidden;
}

	.sidebar .sidebar-top{
		padding: 20px 20px 20px 20px;
	}

		.sidebar .sidebar-top .bav{
			height:30px; 
			width:10px; 
			border-left:3px solid #CCCCCC;  
			float:left;
		}

		.sidebar .sidebar-top h2{
			font-size: 17px;
			font-weight: bold;
		}

	.sidebar #text-in{
		height: auto;
		width: 95%;
	}

		.sidebar p{
			width: 100px;
			font-size: 13px;
			padding: 0px 0px 0px 25px;
			line-height: 25px;
			text-align: right;
		}

		.sidebar .email{
			border: 1px solid gray;
			width: 130px;
			height: 20px;
			font-size: 13px;

		}

		.sidebar span{
			font-size: 10px;
			color: gray;
			line-height: 35px;
		}

		.sidebar .h7{
			font-size: 10px;
			padding:5px ;
			text-align: right;
			vertical-align: top;
		}

		.sidebar h8{
			font-size: 10px;
		}

		.sidebar #radio{
			cursor: pointer;
		}

	.sidebar select{
		height: 23px;
		width: 55px;
		font-size: 10px;
		border: 1px solid gray;
		border-radius: 5px;
		box-shadow: 1px 1px 1px #CCCCCC;
	}


	.sidebar .write{
		border: 1px solid gray;
		border-radius: 5px;
		height: 80px;
		font-size: 10px;
		margin-top: 5px;
		text-indent: 3px;
	}

	.sidebar .btn{
		height: 35px;
		width: 250px;
		border-radius: 10px;
		background-color: #3355D0;
		color: #fff;
		font-size: 19px;
		font-weight: bold;
		margin-left: 25px;
		margin-top:10px;
		box-shadow: 1px 1px 2px gray;
	}


/**
**   Article
**/

.article{
	height: auto; 
	width: 65%;
	background-color: #fff;
	margin-left: 15px;
	margin-top: 20px;
	box-shadow: 1px 1px 1px gray;
	overflow: hidden;
}


	
	.article .arti-box{
		width: 94%;
		height: 100%;
		margin: 0 auto;
	}

		.article .arti-box h2{
			line-height: 40px;
			font-size: 20px;
			padding: 25px 0 10px 0;
			font-weight: 600;
		}

		.article .arti-box h3{
			line-height: 20px;
			padding: 0 0 10px 0;
			font-size: 17px;
		}

		.article .arti-box h4{
			line-height: 20px;
			padding: 0 0 10px 0;
			font-size: 15px;
			font-weight: 600;
		}

			.article .arti-box .arti-author{
				line-height: 20px;
				padding: 0 0 10px 0;
				font-size: 10px;
				font-weight: 100;
				color: gray;
			}

			.article .arti-box p{
				padding: 10px 0 10px 0;
				font-size: 10px;
				line-height: 19px;
			}

				.article .arti-box p.tip{
					padding-bottom: 20px;
				}

					.article .arti-box p.tip span{
						padding: 10px 0 10px 25px;
					}

					.article .arti-box p.tip jiacu{
						font-weight: bold;
						font-size: 10px;
					}

			.article .arti-box .arti-pic{
				height: 200px;
				width: 300px;
				background-color: gray;
				background: url(images/pic1.jpg) no-repeat ;
			}

				.article .arti-box ul{
					padding: 10px 20px;
				}

					.article .arti-box ul li{
						list-style: none;
					}

					.article .arti-box a{
						color:blue;	
					}

		.article .arti-box table{
			border: 1px solid black;
			width: 100%;
			font-color: white;
			border-style: hidden;
			border-color: #CCCCCC;
			padding: 10px 0px 25px 0px;
		}

			.article .arti-box table tr td{
				border:  1px solid black;
				white-space:nowrap;
				padding: 0 10px;
				line-height: 25px;
				border-color: #CCCCCC;
				font-size: 13px;

			}

			.article .arti-box table .white{
				color: white;
				font-weight: bolder;
			}

/**
** Picture
**/

.picture{
	height: auto; 
	width: 65%;
	background-color: #fff;
	margin-left: 15px;
	margin-top: 20px;
	box-shadow: 1px 1px 1px gray;
	overflow: hidden;
}
	
	.picture h1{
		font-size: 20px;
		font-weight: bold;
		padding: 25px 0 10px 20px;
	}

	.picture .pic-box{
		height: 280px;
		width: 98%;
		margin: 0 auto;
	}

		.picture .pic-box li{
			padding: 5px;
			float: left;
			margin-left:15px; 
			margin-top: 10px;
			list-style: none;
			border: 1px solid black;
		}

			.picture .pic-box li h2{
				padding: 2px 10px;
			}

			.picture .pic-box img{
				height: 80px;
				width: 100px;
			}




/**
**	Footer
**/

.footer{
	height: 60px;
	width: 100%;
	background-color: #000000;
	color: white;
	font-size: 10px;
	margin-top: 20px;
	text-align: center;
	box-shadow: 1px 1px 1px black;
	overflow: hidden;
}

	.footer p{
		padding: 20px 0;
	}