body{
	padding: 0;
	margin: 0;
	top: 0;
}
.header{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow:hidden ;
	background:#333333;
}
.bd_logo{
	width: 10%;
	height: 10%;
	float: left;
	margin-left: 20px;
	margin-top: 5px;
}
.nav {
	float: right;
	overflow: hidden;
}
.nav li{
	margin-left: 10px;
	margin-top: 10px;
	margin-right: 10px;
	float: left;
	list-style: disc;
}
.nav li a{
	color: white;
	text-decoration: none;
	font-size: 12px;
	font-family: "黑体";
}
div.container{
	background: #dedede;
	padding: 20px;
	overflow:auto;
	position: relative;
}
article.content{
	background: white;
	padding: 20px;
	margin-bottom: 20px;
	border-bottom: 2px solid #A9A9A9;
	border-right: 2px solid #A9A9A9;
	box-shadow: #808080;
}
article.fixed{
	width: 400px;
}
img.img_section{
	width: 30%;
	height: 30%;
}
p.section{
	text-indent: 2em;
}
h1{
	font-family: "黑体";
	margin: 0;
	padding: 0;
}
h2{
	font-family: "黑体";
	font-size: 15px;
	color: gray;
}
h3{
	font-family: "黑体";
	font-size: 10px;
	color: darkgray;
}
ul{
	padding: 0;
	margin: 0;
}
ul.list_project li{
	list-style: none;
}
ul.ranking{
	margin-left: 1.5em;
	counter-reset: mynum;
}
ul.ranking li{
	list-style: none;
}
ul.ranking li:before{
	content: counter(mynum) ". ";
	counter-increment: mynum;
}
div.pic_box{
	border: 1px solid #808080;
	padding: 10px;
	margin-left: 1em;
	margin-bottom: 1em;
	width: 100px;
	float: left;
}
div.pic_box p{
	margin: 0;
	padding: 0.3em;
	text-align: center;
}
div.pic_box img{
	width: 100%;
	height: 100%;
}
table{
	width: 100%;
	font-family: 黑体;
	font-size: 0.8em;
	text-align: left;
	border-collapse: collapse;
}
thead{
	background: #333333;
	color: white;
}
th{
	font-weight: bold;
	padding: 4px;
}
td{
	padding: 4px;
}
tfoot{
	font-weight: bold;
	background: #DEDEDE;
}
button{
	background: cornflowerblue;
	border: 0;
	color: white;
	width: 100%;
	height: 3em;
	text-align: center;
}
.sidebar_title {
	border-left: 4px solid #ccc;
	padding-left: 8px;
	font-size: 1.1em;
	color: black;
}
.text_field {
	width: 400px;
	margin: 30px auto;
}
.submit_field {
	height: 40px;
    background: blue;
    display: block;
    width: 100%;
    border: 0;
    border-radius: 4px;
    color: #fff;
}
.form_info .text_field {
	overflow: hidden;
	margin-bottom: 20px;
}
.form_info .form_group {
	width: 100%;
	margin-bottom: 10px;
}
.form_info .form_group .group_name{
	text-align: right;
	width: 150px;
	display: inline-block;
}
.form_info .form_group .group_value, .form_info .text_field p{
	width: 240px;
	display: inline-block;

}
.form_info .text_field p {
	text-align: left;
	width: 244px;
	float: right;
	color: #ccc;
}
.form_info .tip {
	text-align: right;
}
div.footer{
	background: black;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 50px;
}
div.footer p{
	padding: 10px;
	margin: 0;
	text-align: center;
	color: white;
}
.pic_list{
	clear: both;
	overflow:auto;
}
div.left{
	float: left;
	margin: 0px 449px 0px 10px;
}
div.right{
	float: right;
	position: absolute;
	top: 20px;
	right: 5px;
}
